*{
    background-color: rgb(80, 83, 81);
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-size: 20px;
}
#container {
    position: relative;
    align-content: center;
    width: 100%;
    margin: 0px;
    border: 5px solid rgb(255, 255, 255);

}
.texto{
    display: flex;
    justify-content: space-between;
    float: left;
    margin: 10px;
    width: 100%;
    list-style: none;;
}
.contraseña{
    display: flex;
    justify-content: space-between;
    list-style: none;
}